@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

:root{
    --color-primary: #F26699;
    --color-danger: #fd5462;
    --color-succes: #41f1b6;
    --color-warning: #ffa927;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-dark-variant: #677483;
    --color-primary-variant: #111e88;
    --color-background: #f6f6f9;
    --color-toggler: #dce1eb;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 4rem 5rem var(--color-light);
}

.cont-clientes{
    display: flex;
    
    height: 100%;
    flex-direction: column;
    padding: 20px;
}
.cont-card-num-cadastro{
    display: flex;
    
    height: auto;
}

.cont-card-num-cadastro > div{

    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    transition: all 300ms ease;
}
.cont-card-num-cadastro > div:hover{
    transform: scale(1.02);
}

.cont-card-num-cadastro > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}
.cont-card-num-cadastro > div.expenses span{
    background: var(--color-danger);
}
.cont-card-num-cadastro> div.income span{
    background: var(--color-succes);
}
.cont-card-num-cadastro > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-card-num-cadastro h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.cont-card-num-cadastro .progress{
    position: relative;
    width: 80px;
    height: 92px;
    border-radius: 50%;
}

.cont-card-num-cadastro svg{
    width: 7rem;
    height: 7rem;
}

.cont-card-num-cadastro svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

.cont-card-num-cadastro .sales svg circle{
    stroke-dashoffset: -140;
    stroke-dasharray: 200;
}

.cont-card-num-cadastro .expenses svg circle{
    stroke-dashoffset: 100;
    stroke-dasharray: 200;
}

.cont-card-num-cadastro .income svg circle{
    stroke-dashoffset: 1000;
    stroke-dasharray: 200;
}

.cont-card-num-cadastro .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-card-num-cadastro small{
    margin-top: 1rem;
    display: block;
}

.cont-lista-users{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
    height: auto;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 30px;
}

.cont-titulo{
    display: flex;
   
    height: auto;
    justify-content: start;
    align-items: center;
}

.cont-titulo h3{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-dark);
    text-align: start;
}

.cont-filtro{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-content: center;
    align-items: center;
}
.cont-buttons{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: start;
    align-items: start;
}
.cont-filtro .cont-buttons > button{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width:90px;
    height: 50px;
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-white);
    font-family: 'Fredoka';
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.cont-filtro .cont-buttons > button:hover{
    background-color: #9e375d ;
    transform: scale(1.04);
}
.cont-buscador{
    display: flex;
    
    height: 100%;
    justify-content: end;
    
    align-items: center;
}

.cont-buscador form{
    min-width: 250px;
    background-color: var(--color-primary);
    border-radius: 50px 50px;
}
.cont-buscador form input, input::-webkit-input-placeholder{
    width: 90%;
    padding: 10px;
    font-family: "Inter";
    background-color: transparent;
    color: var(--color-white);
    border: none;
    cursor: text;
}
.cont-buscador form input:focus{
    outline: none;
}
.cont-buscador form button{
    border: none;
    outline: none;
    background-color: transparent;
}
.cont-buscador form button i{
    color: var(--color-white);
}

.lista-user{
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    
}

.lista-user .card-user{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.lista-user .card-user a{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
}

.lista-user hr{
    background-color: #363949;
    width: 100%;
    height: 2px;
}

.card-user .cont-img{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-user .cont-img img{
    width: 80px;
}

.card-user .cont-info-user{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

.card-user .cont-info-user h1{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Fredoka';
    color: var(--color-dark);
    text-align: start;
}

.cont-status{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.cont-status i{
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 10px;
}

.cont-status p{
    font-size: 20px;
    color: var(--color-dark);
    font-family: 'Inter';

}

@media screen and (max-width: 1200px) {

    .cont-lista-users{
        width: 90%;
    }

    .cont-buscador{
        width: 10px;
    }
    .cont-filtro{
        display: flex;
        margin-top: 10px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .cont-buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .cont-buscador{
        display: flex;
        
        width:100%;
        
        justify-content: center;
        
        align-items: center;
    }
    
    .cont-buscador form{
        min-width: 250px;
       
    }
}

#box-modal {
    display: none;
}

#box-modal.active{
    position: fixed;         /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000;
}

#box-modal dialog{
    width: 900px; /* Ajuste o tamanho conforme necessário */
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    top: 50%; /* Posiciona o topo do modal no meio da tela */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
    max-width: 90%; /* Adapta o modal em telas menores */
    max-height: 80%; /* Adapta a altura do modal em telas menores */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
}
#box-modal dialog .cont-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#box-modal dialog .cont-modal p{
    font-family: 'Fredoka';
    
    font-weight: normal;
    text-align: center;
    color: #003366;
}

#box-modal dialog .cont-modal form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#box-modal dialog .cont-modal form button, #box-modal dialog .cont-modal a{
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

#box-modal dialog .cont-modal form button[type="submit"], #box-modal dialog .cont-modal a{
    background-color: #d02b39;
    color: white;
}

#box-modal dialog .cont-modal form button[type="button"]{
    background-color: rgb(121, 119, 119);
    color: white;
}

#box-modal dialog .cont-modal form button[type="submit"]:hover, #box-modal dialog .cont-modal a:hover{
    background-color: #670f17;
    transform: scale(1.04);
}

#box-modal dialog .cont-modal form button[type="button"]:hover{
    background-color: #575656;
    transform: scale(1.04);
}
#box-modal dialog .cont-modal form textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 2px #f26699 solid;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 15px;
    resize: none;
}
#box-modal dialog .cont-modal form textarea:focus{
    border: 4px solid #F26699;
    transform: scale(1.01);
    outline:none;
}