@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

:root{
    --color-primary: #F26699;
    --color-danger: #fd5462;
    --color-succes: #41f1b6;
    --color-warning: #ffa927;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-dark-variant: #677483;
    --color-primary-variant: #111e88;
    --color-background: #f6f6f9;
    --color-toggler: #dce1eb;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 4rem 5rem var(--color-light);
}
.cont-clientes{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    background-color: var(--color-white);
}

.cont-back{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: start;
    align-items: start;
}

.cont-back a i{
    font-size: 30px;
    color: var(--color-primary);
}

.cont-status-acoes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cont-status-acoes h1{
    text-align: center;
}

.cont-header-user{
    display: flex;
    height: 100px;
    justify-content: start;
    align-items: center;
}

.cont-header-user .cont-img{
    display: flex;
    width: 20%;
    justify-content: start;
    align-items: center;
}

.cont-header-user .cont-img img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: fill;
}

.cont-header-user .cont-nome{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
}

.cont-header-user .cont-nome h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka';
    text-align: start;
}
.cont-header-user .cont-nome h3{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fredoka';
    text-align: start;
    color: var(--color-dark);
}

.cont-header-user .cont-acoes-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-header-user .cont-acoes-user> button{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width:90px;
    height: 50px;
    background-color: var(--color-danger);
    text-align: center;
    color: var(--color-white);
    font-family: 'Fredoka';
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.cont-header-user .cont-acoes-user> button:hover{
    background-color: #9e375d ;
    transform: scale(1.04);
}

.cont-info-user{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    align-items: start;
    margin-top: 20px;
}

.cont-info-user .cont-num-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-info-user .cont-num-user >h5{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: bold;
    text-align: start;
    color: var(--color-dark);
}

.cont-info-user .cont-num-user >h5:not(:last-child){
    margin-right: 10px;
}

.cont-info-user .cont-tipo-conta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}
.cont-info-user  h3{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Inter';
    text-align: start;
    color: var(--color-dark);
}
.cont-info-user  h2{
    margin-top: 20px;
}

.cont-info-user .cont-info-denuncias{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.cont-info-user .cont-info-denuncias .cont-status{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.cont-info-user .cont-info-denuncias .cont-status i{
    color: var(--color-primary);
    font-size: 30px;
}

.cont-info-user .cont-info-denuncias .cont-status p{
    font-size: 20px;
    color: var(--color-dark);
    font-family: 'Inter';
    text-align: center;
}

.cont-info-user .cont-info-denuncias .lista-denuncias{
    display: flex;
    width: 100%;
    flex-direction: column;
}

 .cont-filtro-denuncias{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.cont-filtro-denuncias >a{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width:90px;
    height: 50px;
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-white);
    font-family: 'Fredoka';
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

 .cont-filtro-denuncias >a:hover{
    background-color: #9e375d ;
    transform: scale(1.04);
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia{
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 130px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--color-toggler);
}

.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-header-denuncia{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-header-denuncia h3{
    font-size: 18px;
    color: var(--color-dark);
    text-align: start;
    font-family: 'Inter';
    font-weight: bold;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-header-denuncia small{
    font-size: 14px;
    color: var(--color-info-dark);
    font-family: 'Inter';

}

.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-detalhes{
    
    display: flex;

    justify-content: start;
    
    align-items: center;
    
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-detalhes p{
    text-align: justify;
    font-size: 18px;
    color: var(--color-dark);
    font-family: 'Inter';
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form:not(:last-child){
    margin-right: 20px;
}

.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form >button{
    display: flex;
    width:40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10%;
    background-color: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form .btn-check{
    background-color: #11b738;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form .btn-close{
    background-color: #b71135;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form >button i{
    font-size: 30px;
    transition: all ease-in-out 0.2s;
}

.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form button> .fa-check{
    color: white;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form button> .fa-check:hover{
    color: white;
}
.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form >button .fa-xmark{
    color: white;
}

.cont-info-user .cont-info-denuncias .lista-denuncias .card-denuncia .cont-info .cont-escolha-denuncia >form >button .fa-xmark:hover{
    color: white;
}
.modal form button[type='submit']{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    outline: none;
}
.cont-box-modal{
    display: block;
    width: 100%;
    min-height:100%;
    justify-content: center;
    align-items: center;
}
.cont-box-modal.active{
    position: fixed;         /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000; /* Ensure it is on top */
}
.modal-excluir{
    width: 600px; /* Ajuste o tamanho conforme necessário */
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    top: 50%; /* Posiciona o topo do modal no meio da tela */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
    max-width: 90%; /* Adapta o modal em telas menores */
    max-height: 80%; /* Adapta a altura do modal em telas menores */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
    
}

.modal-excluir .cont-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-excluir .cont-modal h1{
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}

.modal-excluir .cont-modal .cont-desc{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modal-excluir .cont-modal .cont-desc p{
    font-family: 'Fredoka';
    
    font-weight: normal;
    text-align: center;
    color: #003366;
}
.modal-excluir .cont-modal .cont-btn-escolha {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.modal-excluir .cont-modal .cont-btn-escolha form button, .modal-excluir .cont-modal .cont-btn-escolha button{
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.modal-excluir .cont-modal .cont-btn-escolha button{
    background-color: #a0a0a0;
    color: white;
}
.modal-excluir .cont-modal .cont-btn-escolha form button:hover, .cont-destroy-perfil  button:hover{
    background-color: #9f101c;
    transform: scale(1.04);
}

.modal-excluir .cont-modal .cont-btn-escolha button:hover{
    background-color: #817f7f;
    transform: scale(1.04);

}

.modal-excluir .cont-modal .cont-btn-escolha form button:active, .modal-excluir .cont-modal .cont-btn-escolha button, .cont-destroy-perfil  button{
    border: none;
    outline: none;
}