@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

.cont-config-gerais{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding-left:10%;
    margin-top:3.05%;
    margin-bottom:3.05%;
   
}

.cont-config-gerais h1{
    font-family: 'Fredoka';
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}

.cont-config-gerais .cont-item-config{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-config-gerais .cont-item-config .card-config{
    display: flex;
    width: 700px;
    height: 120px;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    background-color: #f6f6f6;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.cont-config-gerais .cont-item-config .card-config:hover{
    transform: scale(1.01);
}

.cont-config-gerais .cont-item-config .card-config a{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.cont-config-gerais .cont-item-config .card-config img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
    /*border-radius: 100%;*/
    object-fit: fill;
}

.cont-config-gerais .cont-item-config .card-config .cont-desc-config{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.cont-config-gerais .cont-item-config .card-config .cont-desc-config small{
    font-family: 'Fredoka';
    font-weight: normal;
    color: #003366;
    text-align: center;
    justify-content: start;

}
.cont-config-gerais .cont-item-config .card-config .cont-desc-config h6{
    font-family: 'Inter';
    color: #003366;
    text-align: center;
    justify-content: start;
}

.cont-logout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cont-logout .btn{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.cont-logout a{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff85ab;
    font-family: 'Fredoka';
    color: white;
    font-size: 1.1rem;
    text-decoration:none;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
}

.cont-logout a:hover{
    background-color: #d5527b;
    transform: scale(1.01);
}

.txt-item{
    margin-top: 5px;
}