@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

.cont-feed{
    display: flex;
    width: 100%;
   flex-direction: row;
    height: 100%;
    margin-top: 10px;
    background-color: white;
    
}

.cont-post{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-post{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
}

.txt-perfil{
    font-size: 18px;
}

.card-post .post-head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.card-post .post-head img{
    width: 50px;
    height: 50px;
    border-radius:100% ;
    object-fit: fill;
    margin-right: 5px;
}

.card-post .post-head small{
    font-family: "Inter";
    font-weight: bold;
}

.card-post .conteudo-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-post .conteudo-post .cont-arquivo{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card-post .conteudo-post .cont-arquivo img{
    width: 400px;
    object-fit: fill;
}

.card-post .conteudo-post .cont-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.card-post .conteudo-post .cont-icons button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card-post .conteudo-post .cont-icons .icons-principais{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
    justify-content: start;
    gap: 20px;
    align-items: start;
}

.card-post .conteudo-post .cont-icons .icons-principais i{
    font-size:20px;
}

.card-post .conteudo-post .cont-icons .icon-salvos{
    display: flex;
    width: 70%;
    justify-content: end;
    align-items: end;
}

.card-post .conteudo-post .cont-icons .icon-salvos i{
    font-size:20px;
}

.card-post .conteudo-post .cont-legenda{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.card-post .conteudo-post .cont-legendenda small{
    font-family: 'Inter';
    font-weight: bolder;
}

.card-post span{
    font-family: 'Inter';
    font-weight: normal;
}

.card-post .conteudo-post .cont-num-comentarios{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.card-post .conteudo-post .cont-num-comentarios small{
    font-family: 'Inter';
    color: rgb(118, 118, 118);
}

/*Parte de Tranding*/

.cont-tipo-feed{
    display: flex;
    flex-direction: column;
    width: 40% ;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-left: 1px rgba(0, 0, 0, 0.077) solid;
}

.assuntos{
    display: block;
    margin: auto;
}

.txt-assuntos{
    font-size: 25px;
}

.cont-tipo-feed .cont-link-feed{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.cont-tipo-feed .cont-link-feed a{
    text-decoration: none;
    color: #f26699;
    font-weight: bold;
    text-align: center;
    font-family: "Inter";
    transition: all 0.2s ease-in-out;
}

.cont-tipo-feed .cont-link-feed a:hover{
    color: #be255d;
}

.cont-tipo-feed .cont-assuntos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: end;
    justify-content: end;
}

.cont-tipo-feed .cont-assuntos h5{
    font-family: 'Inter';
    text-align: center;
    color: #cfcfcf;
    font-size: 16px;
}

.teste{
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.card-assunto{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    margin-top: 10px;
}


.link-card{
    text-decoration: none;
    font-family: 'Inter';
    color: #000000;
    font-size: 18px;
    
}

.txt-card-assunto{
    font-family: 'Inter';
    color: #000;
    font-size: 16px;
    font-weight: bold;
    
}

.txt-card-assunto:hover{
    color: #515151;
}

.cont-tipo-feed .cont-assuntos .card-assunto i{
    font-size: 20px;
}

.linha{
    width: 100%;
    border-bottom: #cfcfcf solid 1px;
}

.anuncios{
    display: block;
    margin: auto;
    width: 350px;
}

.img-anuncio{
    width: 100%;
    margin-top: 30px;
    border-radius: 20px
}