@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

.cont-seguidores{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding-left:10%;
    margin-top:3.05%;
    margin-bottom:3.05%;
   
}

.cont-seguidores h1{
    font-family: 'Fredoka';
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}

.cont-seguidores .cont-card-perfils{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-seguidores .cont-card-perfils .cont-status{
    display: flex;
    width: 100%;
    min-height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-seguidores .cont-card-perfils .cont-status i{
    font-size: 40px;
    color: #ef6d96;
    margin-bottom: 20px;
}

.cont-seguidores .cont-card-perfils .cont-status p{
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.cont-seguidores .cont-card-perfils .card-seguidores{
    display: flex;
    width: 700px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    background-color: #f6f6f6;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    margin-top: 15px;
}

.cont-seguidores .cont-card-perfils .card-seguidores:hover{
    transform: scale(1.01);
}

.cont-seguidores .cont-card-perfils .card-seguidores a{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
}

.cont-seguidores .cont-card-perfils .card-seguidores img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 100%;
    object-fit: fill;
}

.cont-seguidores .cont-card-perfils .card-seguidores .cont-desc-config{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.cont-seguidores .cont-card-perfils .card-seguidores .cont-desc-config small{
    font-family: 'Fredoka';
    font-weight: normal;
    color: #003366;
    text-align: center;
    justify-content: start;

}

.cont-remover-seguidor{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.cont-remover-seguidor button{
    justify-content: center;
  align-items: center;
  
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #d02b39;
  font-family: 'Inter';
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
}
.cont-remover-seguidor button:hover{
    background-color: #9f101c;
    transform: scale(1.01);
}
.box-modal-remover-seguidor{
    display: none;
    
}

.box-modal-remover-seguidor.active{
    position: fixed;         /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000;
}

.box-modal-remover-seguidor .modal-remove{
    
    width: 500px; /* Ajuste o tamanho conforme necessário */
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    top: 50%; /* Posiciona o topo do modal no meio da tela */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
    max-width: 90%; /* Adapta o modal em telas menores */
    max-height: 80%; /* Adapta a altura do modal em telas menores */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
}
.box-modal-remover-seguidor .modal-remove .cont-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.box-modal-remover-seguidor .modal-remove .cont-modal p{
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #003366;
}
.box-modal-remover-seguidor .modal-remove .cont-modal form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box-modal-remover-seguidor .modal-remove .cont-modal form button{
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
}
.box-modal-remover-seguidor .modal-remove .cont-modal form button[type='submit']{
    background-color: #d02b39;
}

.box-modal-remover-seguidor .modal-remove .cont-modal form button[type='button']{
    background-color: #a0a0a0;
    color: white;
}
.box-modal-remover-seguidor .modal-remove .cont-modal form button[type='submit']:hover{
    background-color: #9f101c;
    transform: scale(1.01);
}

.box-modal-remover-seguidor .modal-remove .cont-modal form button[type='button']:hover{
    background-color: #817f7f;
    transform: scale(1.04);
}