@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

.cont-editar-perfil{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top:3.05%;
    margin-bottom:3.05%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cont-editar-perfil form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cont-editar-perfil h1{
    font-family: 'Fredoka';
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}
.cont-editar-perfil h2{
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}
.cont-editar-perfil form .input-group{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
   
}

.cont-editar-perfil form .input-group{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
    flex-direction: column ;
    
}
.cont-editar-perfil form .input-group .cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.cont-editar-perfil form .input-group .cont-img label{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cont-editar-perfil form .input-group .cont-mudar-img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cont-editar-perfil form .input-group .cont-mudar-img .btnImg{
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff85ab;
    font-family: 'Inter';
    color: white;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.cont-editar-perfil form .input-group .cont-mudar-img small{
    
    font-family: 'inter';
    font-weight: bold;
    text-align: center;
    color: #003366;
}
.cont-editar-perfil form .input-group .label-img img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
.cont-editar-perfil form .input-group label{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-family: 'inter';
    font-weight: bold;
    text-align: center;
    color: #003366;
    
}
.cont-editar-perfil form .input-group input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    font-size: 15px;
    border-bottom: 2px solid #F26699;
}

.cont-editar-perfil form .input-group .cont-error{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.cont-editar-perfil form .input-group .cont-error .errorMessage{
    color: #d02b39;
    font-size: 14px;
    text-align: start;
}
.cont-editar-perfil form .input-group .input-file{
    display: none;
}

.cont-editar-perfil form .input-group .input-edit{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    font-size: 15px;
    border-bottom: 2px solid #F26699;
}

.cont-editar-perfil form .input-group .input-edit:focus{
    border-bottom: 4px solid #F26699;
    transform: scale(1.04);
}
.cont-editar-perfil form .input-group textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 2px #f26699 solid;
    border-radius: 10px ;
    transition: all 0.3s ease;
    font-size: 15px;
}
.cont-editar-perfil form .input-group textarea:focus{
    border: 4px solid #F26699;
    transform: scale(1.04);
    outline:none;
}

.cont-editar-perfil form input[type='submit']{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff85ab;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.cont-editar-perfil form input[type='submit']:hover{
    background-color: #dc437b;
    transform: scale(1.04);
}
.cont-destroy-perfil{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cont-destroy-perfil h2{
    font-family: 'Fredoka';
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #d02b39;
}
.cont-destroy-perfil {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
    justify-content: center;
}
.cont-destroy-perfil  button{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.modal form button[type='submit']{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    outline: none;
}
.cont-box-modal{
    display: block;
    width: 100%;
    min-height:100%;
    justify-content: center;
    align-items: center;
}
.cont-box-modal.active{
    position: fixed;         /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000; /* Ensure it is on top */
}
.modal-excluir{
    width: 600px; /* Ajuste o tamanho conforme necessário */
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    top: 50%; /* Posiciona o topo do modal no meio da tela */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
    max-width: 90%; /* Adapta o modal em telas menores */
    max-height: 80%; /* Adapta a altura do modal em telas menores */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
    
}

.modal-excluir .cont-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-excluir .cont-modal h1{
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #f26699;
}

.modal-excluir .cont-modal .cont-desc{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modal-excluir .cont-modal .cont-desc p{
    font-family: 'Fredoka';
    
    font-weight: normal;
    text-align: center;
    color: #003366;
}
.modal-excluir .cont-modal .cont-btn-escolha {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.modal-excluir .cont-modal .cont-btn-escolha form button, .modal-excluir .cont-modal .cont-btn-escolha button{
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d02b39;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.modal-excluir .cont-modal .cont-btn-escolha button{
    background-color: #a0a0a0;
    color: white;
}
.modal-excluir .cont-modal .cont-btn-escolha form button:hover, .cont-destroy-perfil  button:hover{
    background-color: #9f101c;
    transform: scale(1.04);
}

.modal-excluir .cont-modal .cont-btn-escolha button:hover{
    background-color: #817f7f;
    transform: scale(1.04);

}

.modal-excluir .cont-modal .cont-btn-escolha form button:active, .modal-excluir .cont-modal .cont-btn-escolha button, .cont-destroy-perfil  button{
    border: none;
    outline: none;
}