@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

.cont-feed{
    display: flex;
    width: 100%;
   flex-direction: row;
    height: 100%;
    margin-top: 10px;
    background-color: white;
    
}

.cont-post{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.card-post{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
}

.txt-perfil{
    font-size: 18px;
}

.card-post .post-head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.card-post .post-head img{
    width: 50px;
    height: 50px;
    border-radius:100% ;
    object-fit: fill;
    margin-right: 5px;
}

.card-post .post-head small{
    font-family: "Inter";
    font-weight: bold;
}

.card-post .conteudo-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-post .conteudo-post .cont-arquivo{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card-post .conteudo-post .cont-arquivo img{
    width: 400px;
    object-fit: fill;
}

.card-post .conteudo-post .cont-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.card-post .conteudo-post .cont-icons button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card-post .conteudo-post .cont-icons .icons-principais{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    justify-content: start;
    gap: 20px;
    align-items: start;
}

.card-post .conteudo-post .cont-icons .icons-principais i{
    font-size:20px;
}

.card-post .conteudo-post .cont-icons .icon-salvos{
    display: flex;
    width: 70%;
    justify-content: end;
    align-items: end;
}

.card-post .conteudo-post .cont-icons .icon-salvos i{
    font-size:20px;
}

.card-post .conteudo-post .cont-legenda{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.card-post .conteudo-post .cont-legendenda small{
    font-family: 'Inter';
    font-weight: bolder;
}

.card-post span{
    font-family: 'Inter';
    font-weight: normal;
}

.card-post .conteudo-post .cont-num-comentarios{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.card-post .conteudo-post .cont-num-comentarios small{
    font-family: 'Inter';
    color: rgb(118, 118, 118);
}

/*Parte de Tranding*/

.cont-tipo-feed{
    display: flex;
    flex-direction: column;
    width: 40% ;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-left: 1px rgba(0, 0, 0, 0.077) solid;
}

.assuntos{
    display: block;
    margin: auto;
}

.txt-assuntos{
    font-size: 25px;
}

.cont-tipo-feed .cont-link-feed{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.cont-tipo-feed .cont-link-feed a{
    text-decoration: none;
    color: #f26699;
    font-weight: bold;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.cont-tipo-feed .cont-link-feed a:hover{
    color: #be255d;
}

.cont-tipo-feed .cont-assuntos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: end;
    justify-content: end;
}
.cont-tipo-feed .cont-analise{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: end;
    justify-content: end;
}
.cont-tipo-feed .cont-analise h5{
    font-family: 'Inter';
    text-align: center;
    color: #cfcfcf;
    font-size: 16px;
}
.cont-tipo-feed .cont-analise h5{
    font-family: 'Inter';
    text-align: center;
    color: #cfcfcf;
    font-size: 16px;
}

.cont-tipo-feed .cont-analise .card-analise-grafico{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.cont-tipo-feed .cont-analise .card-analise-grafico .grafico{
    display: flex;
    width: 100%;
    height: 260px;
    justify-content: center;
    align-items: center;
}

.teste{
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.card-assunto{
    flex: 0 0 auto; /* Os cards ocuparão o espaço necessário */
    margin: 10px; /* Espaço entre os cards */
}

.cont-assuntos {
    display: flex; /* Define um contêiner flexível para os assuntos */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte se não houver espaço */
    justify-content: flex-start; /* Alinha os itens ao início do contêiner */
    margin-bottom: 20px; /* Espaço abaixo da seção de assuntos */
}


.link-card{
    text-decoration: none;
    font-family: 'Inter';
    color: #000000;
    font-size: 18px;
    
}

.txt-card-assunto{
    font-family: 'Inter';
    color: #000;
    font-size: 16px;
    font-weight: bold;
    
}

.txt-card-assunto:hover{
    color: #515151;
}

.cont-tipo-feed .cont-assuntos .card-assunto i{
    font-size: 20px;
}

.linha{
    width: 100%;
    border-bottom: #cfcfcf solid 1px;
    margin-top: 20px;
}

.anuncios{
    display: block;
    margin: auto;
    width: 350px;
}

.img-anuncio{
    width: 100%;
    margin-top: 40px;
    border-radius: 20px
}

.img-assunto {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção */
    cursor: pointer;
   
}

.cont-feed .cont-post .cont-status{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.cont-feed .cont-post  .cont-status i{
    color: var(--color-primary);
    font-size: 30px;
}

.cont-feed .cont-post  .cont-status p{
    font-size: 20px;
    color: var(--color-dark);
    font-family: 'Inter';
    text-align: center;
}
.grafico{
    margin-top: 10px;
}

/* Estilos para o botão de comentar */
.coment {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.coment:hover {
    color:#f26699; /* Cor ao passar o mouse */
}

/* Estilos para o Modal de Comentários */
.modal-coment {
    display: none; /* Inicialmente invisível */
    position: fixed;
    z-index: 1; /* Fica sobre os outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

/* Conteúdo do Modal */
.modal-content-coment {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 600px; /* Tamanho máximo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fechar botão (X) */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do título do modal */
.modal-content-coment h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

/* Estilo para o campo de comentário */
#inputComentarioModal {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.legenda-perfil {
    font-size: 0.9em;
    color: #333;
    margin-top: 8px;
    right: 12%;
    word-wrap: break-word;
    line-height: 1.4;
}
