.side-item button{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;

    align-items: center;
    justify-content: center;
    color: #FF007f;
    border: none;
    cursor: pointer;
}
.side-item button span{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FF007f;

}
.side-item button:focus{
    border: none;
    outline: none;
}

.side-item button:focus:active{
    border: none;
    outline: none;
}

.box-modal-post{
    display: block;
    width: 100%;
    min-height:100%;
    justify-content: center;
    align-items: center;
}

.box-modal-post.active{
    position: fixed;         /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000;
}

.modal-post{
    display: grid;

    grid-template-columns: repeat(2,2fr);
    width: 800px; /* Ajuste o tamanho conforme necessário */
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    top: 50%; /* Posiciona o topo do modal no meio da tela */
    left: 50%; /* Posiciona a esquerda do modal no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
    max-width: 90%; /* Adapta o modal em telas menores */
    max-height: 80%; /* Adapta a altura do modal em telas menores */
    overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
}

