@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}
.cont-feed{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
    margin-top: 10px;
    background-color: white;
    
}
.cont-post{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card-post{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
}
.card-post .post-head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.card-post .post-head img{
    width: 10%;
    border-radius: 50%;
    margin-right: 5px;
}

.card-post .post-head small{
    font-family: "Inter";
    font-weight: bold;
}
.card-post .conteudo-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card-post .conteudo-post .cont-arquivo{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card-post .conteudo-post .cont-arquivo img{
    width: 100%;
}

.card-post .conteudo-post .cont-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}


.card-post .conteudo-post .cont-icons button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.card-post .conteudo-post .cont-icons .icons-principais{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
    justify-content: start;
    gap: 20px;
    align-items: start;
}
.card-post .conteudo-post .cont-icons .icons-principais i{
    font-size:20px;
}

.card-post .conteudo-post .cont-icons .icon-salvos{
    display: flex;
    width: 70%;
    justify-content: end;
    align-items: end;
}
.card-post .conteudo-post .cont-icons .icon-salvos i{
    font-size:20px;
}
.card-post .conteudo-post .cont-legenda{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}
.card-post .conteudo-post .cont-legendenda small{
    font-family: 'Inter';
    font-weight: bolder;
}
.card-post span{
    font-family: 'Inter';
    font-weight: normal;
}
.card-post .conteudo-post .cont-num-comentarios{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}
.card-post .conteudo-post .cont-num-comentarios small{
    font-family: 'Inter';
    color: rgb(118, 118, 118);
}

/*Parte de Tranding*/

.cont-tipo-feed{
   
    display: flex;
    flex-direction: column;
    width: 40% ;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-left: 1px rgba(0, 0, 0, 0.077) solid;
}

.cont-tipo-feed .cont-link-feed{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}



.cont-tipo-feed .cont-link-feed a{
    text-decoration: none;
    color: #f26699;
    font-weight: bold;
    text-align: center;
    font-family: "Inter";
    display: flex;

}

.cont-tipo-feed .cont-link-feed a:hover{
    color: #be255d;
}
.cont-tipo-feed .cont-assuntos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: end;
    justify-content: end;
}
.cont-tipo-feed .cont-assuntos h5{
    font-family: 'Inter';
    text-align: center;
    color: rgb(207, 207, 207);
    font-size: 14px;
}


.cont-tipo-feed .cont-assuntos .card-assunto{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    margin-top: 10px;

}

.cont-tipo-feed .cont-assuntos .card-assunto i{
    font-size: 20px;
}

.txt-card-assunto{
    font-family: 'Inter';
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.txt-card-assunto:hover{
    color: #515151;
}

.comun{
    font-family: 'Fredoka';
    color: #f26699; 
}
.linha-vertical {
    width: 2px; /* Largura da linha */
    height: 1705px; /* Altura da linha */
    background-color: rgb(230, 229, 229); /* Cor da linha */
    margin: 20px; /* Espaçamento ao redor */
    padding: 5%;
}
.vamosver{
    white-space: 20px;
    flex-direction: row;
    display: flex;
    padding-top: 1%;
}
.teste{
    padding-right: 120%;
    align-items:start ;
}

.teste-icon{
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.icons .icon{
    margin-left: 10px;
}

.icon button{
    border: none;
    background-color: transparent;
    margin-top: 10px;
}

.icon button i{
    font-size: 25px;
}

.icon button i:hover{
    color: #f26699;
}


.link-card{
    text-decoration: none;
    font-family: 'Inter';
    color: black;
    font-size: 18px;
}

.linha{
    width: 100%;
    border-bottom: #cfcfcf solid 1px;
    margin-top: 20px;
}

.anuncios{
    display: block;
    margin: auto;
    width: 350px;
}

.img-anuncio{
    width: 100%;
    margin-top: 40px;
    border-radius: 20px
}

.cont-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}

form .cont-img-comunidade{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form .cont-img-comunidade label{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form .cont-img-comunidade label img{
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 100%;
}

form .cont-img-comunidade .btn-mudar-img, form input[type='submit']{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff85ab;
    font-family: 'Inter';
    color: white;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

form .cont-img-comunidade .btn-mudar-img:hover, form input[type='submit']:hover{
    background-color: #F88AC5;
    transform: scale(1.01);
}

form .cont-img-comunidade .btn-mudar-img{
    width: 60%;
}

form .input-group{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: start;
    flex-direction: column ;
    
}

form > div{
    margin-top: 20px;
}

form #drag-area-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 6px;
    align-items: center;
    justify-content: center;
    border: 2px #f26699 dashed;
    cursor: pointer;
}

form .input-group #drag-area-banner .icon i{
    font-size: 50px;
    color: #F26699;
}

 form .input-group #drag-area-banner h5{
    font-weight: bold;
     color: #003366;
     font-family: 'Inter';
 }

 form .input-group #drag-area-banner span{
    font-size: 20px;
    color: #F26699;
    font-family: 'Inter';
}

form .input-group #drag-area-banner .img-view-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form .input-group label{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-family: 'inter';
    font-weight: bold;
    text-align: center;
    color: #003366;
}

form .input-group textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 2px #f26699 solid;
    border-radius: 10px ;
    transition: all 0.3s ease;
    font-size: 15px;
}

 form .input-group textarea:focus{
    border: 4px solid #F26699;
    transform: scale(1.01);
    outline:none;
}

form .input-group input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    font-size: 15px;
    border-bottom: 2px solid #F26699;
}

form .input-group input:focus{
    border-bottom: 4px solid #F26699;
    transform: scale(1.01);
}

form .cont-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form .cont-error-foto-perfil{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form .errorField{
    color: #d02b39;
    font-size: 14px;
    text-align: start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-height: 100vh;
    
  }

.modal-title{
    color: #F26699;
    font-size: 24px;
}

.criar{
    background-color: #F26699;
    color: #fff;
    width: 60%;
    display: block;
    margin: auto;
}

.criar:hover{
    background-color: #F88AC5;
    color: #fff;
}

  
  .modal-content {
    background-color: #fff;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.2);
    max-height: 85vh; /* Altura máxima do modal em relação à viewport */
    overflow-y: auto;
  }

  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

