/*
 ⚡MAKE SURE TO SUBSCRIBE PROGRAMMER CLOUD⚡
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.cont-perfil{
  padding-left: 170px;
 
}
a {
  text-decoration: none;
}

.cont-banner{
  width: 100%;
  height: 200px ;
  margin-bottom: 110px;
  padding-top: 0;
  
}
.cont-banner img{
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #818181;
}
.header__wrapper .cols__container .left__col .about li a span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .right__col nav button {
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.header__wrapper .cols__container .right__col .photos button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__wrapper .cols__container .right__col .photos button img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

.cont-perfil .left__col button{
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff85ab;
  font-family: 'Inter';
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
  
}
.cont-perfil .left__col button:hover{
  background-color: #ef6d96;
    transform: scale(1.01);
}
.cont-status-post{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cont-status-post i{
  font-size: 40px;
  color: #ef6d96;
  margin-bottom: 20px;
}
.cont-status-post p{
  font-size: 18px;
  text-align: center;
}
.box-modal-post .modal-denuncia{
    
  width: 500px; /* Ajuste o tamanho conforme necessário */
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  top: 50%; /* Posiciona o topo do modal no meio da tela */
  left: 50%; /* Posiciona a esquerda do modal no meio da tela */
  transform: translate(-50%, -50%); /* Ajusta o modal para que o centro esteja no meio da tela */
  max-width: 90%; /* Adapta o modal em telas menores */
  max-height: 80%; /* Adapta a altura do modal em telas menores */
  overflow: auto; /* Permite rolagem se o conteúdo exceder a altura */
}

.modal-denuncia .cont-header-modal{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.modal-denuncia .cont-modal-denuncia{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-denuncia  .cont-header-modal button{
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-denuncia .cont-header-modal button i{
  font-size: 20px;
}
.modal-denuncia .cont-modal-denuncia .cont-header-modal button:focus{
  border: none;
  outline: none;
}
.modal-denuncia .cont-modal-denuncia .cont-header-modal button:active{
  border: none;
  outline: none;
}
.modal-denuncia form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction:column ;
  
}

.modal-denuncia form .cont-btn-criar-post button{
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff85ab;
  font-family: 'Inter';
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
}
 .modal-denuncia form .cont-btn-criar-post button:hover{
  background-color: #ef6d96;
  transform: scale(1.01);
}

.modal-denuncia form  label{
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  font-family: 'inter';
  font-weight: bold;
  text-align: center;
  color: #003366;
}
.modal-denuncia form textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 2px #f26699 solid;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 15px;
  resize: none;
}

.modal-denuncia form input{
  width: 100%;
  
  padding: 10px;
  border: 2px #f26699 solid;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 15px;
}
.modal-denuncia form input:focus{
  border: 4px solid #F26699;
  transform: scale(1.01);
  outline:none;
}
.modal-denuncia form textarea:focus{
  border: 4px solid #F26699;
  transform: scale(1.01);
  outline:none;
}
.modal-denuncia form .cont-btn-criar-post{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}