@font-face{
    font-family: "Fredoka";
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face{
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Fredoka';
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.primeiro-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F26699;
}

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;

}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: 100%;

}

.carousel-text {
    text-align: center;
    padding: 10px;
    background-color: #f26699bc;
    color: white;
    position: absolute;
    width: 100%;
    margin-top: 2px;
}

.fade {
    animation-name: fade;
    animation-duration: 3.5s;
}

@keyframes fade {
    from { opacity: 2 } 
    to { opacity: 1 }
}


.segundo-container {
    flex: 1;
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}


.cont-img-mobile{
    display: none;
}

.cont-img-mobile img{
    width: 40%;
}
.login {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 600px;
    margin-bottom: 15px;
    padding: 12%;
    
}

.login h2 {
    font-size: 60px;
    margin-bottom: 40px;
    color: #F26699;
    text-align: center;
    font-weight: normal;
}
.cont-status {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cont-status h4{
    font-family: 'Inter';
    color: #003366;
    font-size: 20px;
}

.cont-status a{
    color: #F26699;
    font-size: 20px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.cont-status a:hover{
    color: #b1416a;
    transform: scale(1.04);
}

.input-group {
    display: flex;
    flex-direction: column ;
    position: relative;
    height: 80px;
    line-height: 40px;
}

form .input-group .cont-input{
    display: flex;
    flex-direction: row;
    width: 100%;
}
form .input-group label span{
    color: #d02b39;
    font-size: 14px;
    text-align: start;
}
form .input-group i{
    position: absolute;
    right: 3%;
    font-size: 25px;
    color: #F26699;
    cursor: pointer;
}
form  .cont-input label .icon-input{
    width: 30px;
    margin-right: 5px;
}

.icon-input{
    display: flex;
}

input {
    width: 100%;
}

.animated-input {
    padding: 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    font-size: 15px;
}

.animated-input:focus {
    border-bottom: 4px solid #F26699;
    transform: scale(1.04);
}

input:focus, input:valid{
    border: none;
    border-bottom: 2px solid #F26699;
    
}

form .regras-senha{
    position: relative;
    
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

form .regras-senha.active{
    opacity: 1;
    
    height: 150px;
}

form .regras-senha>div{
    margin: 10px 10px;
    font-weight: 400;
    color: #9b143a;
}

form .regras-senha>div>span.active{
    color:#409b0c
}

.cont-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F26699;
    font-family: 'Fredoka';
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease-in-out 0.2s
}

.icon-senha{
    width: 36px;
    height: 30px;
}

button:hover {
    background-color: #F88AC5;
}

.forgot-password,
.create-account {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.login-adm{
    display: block;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.login-adm span{
    text-decoration: underline;
    font-weight: 500;
    color: #F26699;
}

.login-adm span:hover{
    color: #F88AC5;
}

.forgot-password:hover{
    color: #5e5e5e;
}

.forgot-password{
    font-weight: 500;
}

.create-account span {
    text-decoration: underline;
    font-weight: 500;
    color: #F26699;
}

.create-account span:hover {
    color: #F88AC5;
}

@media screen and (max-width: 1000px){

    .primeiro-container{
        display: none;
    }
    .segundo-container {
        flex-direction: column;
    }
    .cont-img-mobile{
        display: flex;
        width: 100%;
        height: 300px;
        margin: 15px;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    
    
}

.cont-error-geral{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.cont-error-geral small{
    color: #d02b39;
    font-size: 14px;
    text-align: start;
}